@{
    ViewBag.Title = "О программе";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Эта программа разработана как тестовое задание.<br />
        Вот само задание:<br />
        Разработать ASP.NET/MVC C# веб-приложение для хранения информации о книгах.<br />
        <br />
Использовать:<br />

.NET, ASP.NET/MVC, Linq2Sql, jQuery<br /><br />
        
Книга описывается следующим образом:<br />
        
Название<br />
        
Год выпуска<br />
       
Автор (справочник)<br />
        <br />
Приложение содержит следующие формы:<br />

1. Список книг. Отображает список книг разбитый по страницам (по 10 книг на страницу), данные в таблицу подгружаются Ajax запросом. Существует возможность фильтрации данных по Названию книги.<br />

2. Форма добавления и редактирования книги. Все поля обязательны для заполнения. Обеспечить клиентскую (jquery.validation) и серверную (средствами MVC) валидацию формы.<br />

Справочник авторов фиксированный (не требует средств редактирования).<br />

Дизайн и компоновка страницы – свободные.<br />

К реализации задачи постараться подойти архитектурно. <br />
    </p>
</article>

<aside>
    @*<h3>Заголовок боковой панели</h3>
    <p>
        В этой области можно указать дополнительные сведения.
    </p>*@
    <ul>
        <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
        <li>@Html.ActionLink("О программе", "About", "Home")</li>
        <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
    </ul>
</aside>